<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Mango!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/font-awesome.min.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/phoenix.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <%= render "app_nav.html", conn: @conn, customer: @current_customer %>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <script src="<%= Routes.static_path(@conn, "/js/jquery-3.2.1.min.js") %>"></script>
      <script src="<%= Routes.static_path(@conn, "/js/bootstrap.min.js") %>"></script>
      <script src="<%= Routes.static_path(@conn, "/js/jquery.bootstrap-growl.min.js") %>"></script>
      <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
      <script src="<%= Routes.static_path(@conn, "/js/ajax_cart.js") %>"></script>
  </body>
</html>
